{% import 'macros/form.html' as form %}

{{ form.input('terria_instance_url',
              label=_('URL of TerriaJS Instance'),
              value=data.terria_instance_url,
              placeholder=_('e.g. //ihp-wins.unesco.org/terria/'),
              error=errors.terria_instance_url,
              classes=['control-full', 'control-large']) }}

{{ form.input('custom_config',
              label=_('Custom Config'),
              value=data.custom_config,
              placeholder=_('e.g. //ihp-wins.unesco.org/terria/'),
              error=errors.custom_config,
              classes=['control-full', 'control-large']) }}

{{ form.input('style',
              label=_('Style'),
              value=data.style,
              placeholder=_('e.g. //ihp-wins.unesco.org/terria/'),
              error=errors.style,
              classes=['control-full', 'control-large']) }}

{# Add time resampling options for CSV files #}
  {{ form.select('time_resample',
                label=_('Time Resampling'),
                options=[{'value': '', 'text': _('No resampling (show raw data)')},
                         {'value': 'day', 'text': _('Daily average')},
                         {'value': 'week', 'text': _('Weekly average')},
                         {'value': 'month', 'text': _('Monthly average')},
                         {'value': 'year', 'text': _('Yearly average')}],
                selected=data.time_resample,
                error=errors.time_resample) }}

<div style="margin-bottom: 10px; position: relative; display: inline-block;">
<span style="cursor: pointer;">{{ _('Custom Config Example') }}</span>
<div class="gif-tooltip" style="visibility: hidden; width: 800px; background-color: #fff; border: 1px solid #ccc; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -100px; opacity: 0; transition: opacity 0.3s;">
    <img src="/help/custom_config.gif" alt="Descripción del GIF" style="width: 100%;">
</div>
</div>

<style>
.form-group + div:hover .gif-tooltip {
    visibility: visible !important;
    opacity: 1 !important;
}
</style>
